
.address.layui-form-item {
    /*! border: 1px solid #D2D2D2; */
  /*! border-radius: 0 0 2px 2px; */
  margin-top: -1px;
}

.address>.layui-input-block{
  margin-left: 0px;
}
.address>.layui-input-block>.layui-inline{
  margin: 0px;
}
 .width33{
  width: calc(100% / 3);
}

 .width50{
  width: calc(100% / 2);
}

 .width100{
  width: calc(100% / 1);
}

.address>.layui-input-block>.layui-inline{
  float: left;
}


.layui-textarea {
  resize: none;
}
/*
#ExpressCode,.BillImage,.ExpressCodeLabel {
    display: none;
}
*/
.doing #ExpressCode {
    display: inline-block;
    width: 200px;
}

.doing .BillImage,.doing .ExpressCodeLabel {
    display: inherit;
}

.doing .mark,.posting .mark {
    width: calc(100% - 40px);
    position: absolute;
    height: 100%;
    z-index: 1000;
    /*background-color: #e6e6e6;*/
    /*opacity: 0.5;*/
    display: inherit;
}

 .mark {
    display: none;
}

.doing  .CreateExpress {
    display: none;
}

/*
.weui-mask, .weui-mask_transparent {
    position: absolute;
}

.weui-toast {
    position: absolute;
    top: calc(50% - 3.8em);
    left: calc(50% - 3.8em);
    margin-left: 0;
    margin-top: 0;
}



.doing .weui-toast {
    display: none;
}
*/

.layui-form-item {
    margin-bottom: 0;
}
.layui-form-pane .layui-form-radio, .layui-form-pane .layui-form-switch {
    margin-top: 0;
}
.layui-card {
    margin: 3px;
        margin-bottom: 3px;
    padding: 5px;
}

.layui-btn-primary {
    line-height: 26px;
}



.OrderDetilListTabHearForm.layui-form-item .layui-input-inline {
    width: calc(100% - 87px);
    margin-right: 0;
}

.OrderDetilListTabHearForm.layui-form-item .layui-form-label {
    width: 88px;
}

.OrderDetilListTabHearForm.layui-form-item .layui-inline  {
    width: 33%;
}
.OrderDetilListTabHearForm.layui-form-item .layui-inline {
  margin-right: 0;
  margin-bottom: 0;
}

.layui-tab-content{
background-color: #f9f9f9;
}
.layui-tab-card > .layui-tab-title .layui-this {

    background-color: #f9f9f9;

}

.layui-form-pane .layui-form-radio, .layui-form-pane .layui-form-switch {

    margin-left: 0;

}

.layui-btn[disabled=disabled]
{
    border: 1px solid #e6e6e6;
    background-color: #FBFBFB;
    color: #C9C9C9;
    cursor: not-allowed;
    opacity: 1;
}


.layui-table-view .layui-table[lay-size="sm"] .layui-table-cell {
  height: inherit;
  line-height: inherit;
}

.layui-table-cell, .layui-table-tool-panel li {
  white-space: inherit;
}

